<section class="banner" style="background-image: url(../assets/banner-bernardcook-min.jpeg);">
    <div class="container">
      <span class="titre-banner mini">Bernard Cook<br>
      <span class="">au service de la Cuisine .</span></span>
      <br><br>
      <a class="btn btn-flat" href="/contact.html">Contact & devis</a>
      <ul class="social-shares">
        <a href="https://www.facebook.com/profile.php?id=100076486681265" target="_blank"><li><i class="fa fa-facebook"></i></li></a>
        <a href="{{site.social_links.instagram}}" target="_blank"><li><i class="fa fa-instagram" aria-hidden="true"></i></li></a>
      </ul>
    </div>
    <h1 class="titre-page">Click & Collect</h1>
</section>
<div class="test">
    <div class="sub-banner inside">
      
    </div>
</div>

<section class="inside click-presentation">
    <div>
        <p>Profitez de nos plats conviviviaux pour chez vous en optant pour le click & collect.<br>Les commandes se font une semaine à l'avance.<br>
        Les plats sont récupérés tièdes, pouvant être réchauffé au four, plaque, gazinière,...<br><br>
        <span>Une consigne de 20€ par plat est demandée et restituée lors de sa remise.</span>
        </p>
    </div>
<div>
    <img src="/assets/images/pictos/take-away.png">
    <h2>Click & Collect</h2>
</div>
</section>
<section class="inside" data-controller="commande">
    <h2>Les plats à emporter</h2>
    <ul class="plats-click">
        
        <li class="plat-click shadow">
            <div class="plat-first">
                <h3 class="click-titre" data-plat="Paella">Paella - fruits de mer</h3>
                <p class="click-description" data-description="...">Paellla spéciale fruits de mer</p>
                <p class="click-qte" data-qte="0">Pour 8 pers.</p>
            </div>
            <div class="plat-second">
                    <p class="click-prix" data-prix="110.00">110,00 €</p>
                    <div class="order-btns">
                        <span class="order-btn minus"><i class="fa fa-minus"></i></span>
                        <span class="counter" data-counter="0">0</span>
                        <span class="order-btn plus"><i class="fa fa-plus"></i></span>
                    </div>
            </div>
        </li>
        
    </ul>
    <div id="order-summary" class="inside">
        <p>Total : <span>0.00</span> €</p>
        <a href="#commander" class="btn btn-primary" id="btn-commande" data-action="click->commande#commandeNext:prevent">Commander</a>
    </div>
</section>
<section class="inside">
    <h2>Conditions de livraison</h2>
    <p>...</p>
</section>
<section class="inside" id="commander">
<h2>Commander</h2>

<div class="inside contact-form space-bottom center" id="">
<%= simple_form_for :contact_mail, :html=> { class: 'form-click' }, :url => '/contact_send' do |f| %>

  <div class="full">
    <div class="half">
      <%= f.input :prenom, label:"Prénom", input_html: { value: nil }, prompt: "", required: true %>
    </div>
    <div class="half">
      <%= f.input :nom,label:"Nom", input_html: { value: nil }, placeholder: "", required: true%>
    </div>
  </div>

  <div class="full">
    <div class="half">
      <%= f.input :email, label:"Email", input_html: { value: nil }, prompt: "", required: true %>
    </div>
    <div class="half">
      <%= f.input :tel,label:"Tel", input_html: { value: nil }, placeholder: "", required: true %>
    </div>
  </div>

  <div class="full">
    <div class="half">
      <%= f.input :day, as: :date, html5: true, label:"Jour de récupération de la commande", input_html: { value: nil }, prompt: "", required: true %>
    </div>
    <div class="half">
      <%= f.input :hour, as: :time,:minute_step => 15,label:"Heure de récupération", input_html: { value: nil }, placeholder: "", required: true%>
    </div>
  </div>
  <div class="">
    <%= f.input :message, :input_html => { :rows => 5, :cols => 10 }, label:"Commentaire", required: false %>
  </div>
  <%= f.hidden_field :plats, :value => "" %>
  <%= f.hidden_field :quantite, :value => 0 %>
  <%= f.hidden_field :montant, :value => 0 %>

  <div class="checkbox">
      <%= f.input :rgpd, as: :boolean, checked_value: 'positive', unchecked_value: 'negative', label:"J'accepte que mes données soient transmises dans le cadre de ma demande", required: true %>
  </div>
  <div>
    <%= f.button :submit, 'Envoyer', class: 'btn btn-primary' %>
  </div>
  <% end %>
</div>
</section>
