<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Votre commande en Click & Collect chez Bernard Cook</p>
    <p>
    <p><%= @qty %> x Paëlla aux fruits de mer</p>
    <p>Pour un montant : <%= @montant %>€</p>
    --------------------------
    </p>
    <p>Date de prise de la commande: <%= @commande_faite %></p>
    <p>Chercher la commande le : <%= @date_reception %></p>
    <p>Nom: <%= @lastname %> <%= @firstname %></p>
    <p>Email: <%= @email %></p>
    <p>Tel: <%= @tel %></p>
    <p>Commentaire: <%= @message %></p>
    ----------
  </body>
</html>