<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Votre commande</p>
    <p>
    ...<br>
    --------------------------
    </p>
    <p>Date de la commande: <%= @commande_faite %></p>
    <p>Cherche la commande le : <%= @date_reception %></p>
    <p>Nom: <%= @lastname %> <%= @firstname %></p>
    <p>Email: <%= @email %></p>
    <p>Tel: <%= @tel %></p>
    <p>
    Message: <%= @message %><br>
    ----------
    </p>
    <p>
    <%= @message %>
    </p>
    <p>Accepte RGPD : <%= @rgpd %></p>
  </body>
</html>